/*
 * Generic
 */
@font-face {
  font-family: 'optima';
  src: url("http://source.kakehotels.com/kake/frontend/fonts/optima.ttf");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: optima, PingFangSC-Regular, sans-serif, "Noto SansCJK";
  max-width: 768px;
  margin: auto;
  color: #000000;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
body input,
body button,
body select,
body textarea,
body input:focus,
body span:focus {
  outline: none;
}
body button[disabled] {
  opacity: .4;
  cursor: default !important;
  pointer-events: none;
}
body a:hover {
  text-decoration: none;
}
body i {
  font-style: normal;
}
body ul,
body li {
  list-style: none;
  padding: 0;
}
/*
 * header
 */
header {
  z-index: 20;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  background-color: #2d3e50;
  position: fixed;
  color: #fff;
}
header .detail {
  width: 30px;
  height: 40px;
  display: inline-block;
  position: absolute;
  right: 15px;
}
header .detail img {
  width: 21px;
  height: 16px;
  float: right;
  margin-top: 12px;
}
#menu {
  display: none;
  position: fixed;
  z-index: 998;
  width: 126px;
  height: 156px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}
#menu .triangle {
  position: absolute;
  top: -10px;
  right: 17px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0, 0, 0, 0.7);
}
#menu div hr {
  margin: 0;
}
#menu div a {
  width: 100%;
  height: 52px;
  line-height: 52px;
  font-size: 15px;
  color: #ffffff;
  display: inline-block;
}
#menu div a img {
  margin-left: 8px;
  margin-right: 5px;
  width: 20px;
  height: 22px;
}
#menu div a img.order-center {
  width: 18px;
}
.all-lm {
  height: 100%;
}
.all-lm .shade {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
.menu-lm {
  background: url("http://source.kakehotels.com/kake/frontend/img/menubj.jpeg") no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: -205px;
  z-index: 999;
  width: 170px;
  padding: 0 15px 0 20px;
}
.menu-lm p {
  text-indent: 8px;
  color: #a98e67;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
.menu-lm input {
  background: url("http://source.kakehotels.com/kake/frontend/img/search.svg") no-repeat 6px 8px;
  background-size: 20px;
  text-indent: 28px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 36px;
  color: #fff;
}
.menu-lm input::placeholder {
  color: gray;
}
.menu-lm a {
  display: inline-block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 15px;
  color: #fff;
}
.menu-lm a img {
  margin-left: 8px;
  margin-right: 5px;
  width: 20px;
  height: 22px;
  vertical-align: sub;
}
.menu-lm a img.order-center {
  width: 18px;
}
.menu-lm a.hr {
  border-top: 0.01rem solid rgba(255, 255, 255, 0.45);
}
/*
 * blank
 */
.blank {
  height: 20px;
  background-color: #f4f4f4;
}
/*
 * detail-hotel-1
 */
.detail-hotel-1 {
  font-size: 18px;
  color: #000;
  margin-top: 32px;
  text-align: center;
}
.detail-hotel-1 span {
  width: 8px;
  height: 19px;
  display: inline-block;
  margin-right: -2px;
}
.detail-hotel-1 span img {
  width: 100%;
  height: 100%;
  margin-top: -3px;
}
/*
 * Message
 */
div#message {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
div#message .message-bar {
  width: 290px;
  position: relative;
  z-index: 999;
  margin: 150px auto;
  color: #333;
  background-color: rgba(255, 204, 0, 0.9);
  border-radius: 8px;
  text-align: center;
  padding: 25px 15px;
  font-size: 16px;
}
div#message .message-bar p {
  margin: 0;
}
/*
 * Loading
 */
div#loading {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
}
div#loading .loading-bar {
  width: 36px;
  height: 36px;
  position: relative;
  z-index: 999;
  margin: 150px auto;
}
@keyframes bounce {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
div#loading .loading-bar.loading-bounce div {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: .5;
  animation: bounce 2s infinite ease-in-out;
  left: 0;
  top: 0;
}
div#loading .loading-bar.loading-bounce div.in {
  animation-delay: -1s;
  background-color: #ffab13;
  box-shadow: 0 0 5px #ffab13;
}
div#loading .loading-bar.loading-bounce div.out {
  background-color: #ffd914;
  box-shadow: 0 0 5px #ffd914;
}
/*
 * Hit
 */
div#hit {
  width: 58px;
  height: 58px;
  position: fixed;
  z-index: 999;
}
div#hit .hit-bar {
  width: 58px;
  height: 58px;
  position: relative;
}
@keyframes in {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}
@keyframes out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(3.33333333);
    opacity: 0;
  }
}
div#hit .hit-bar.hit-bounce div {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 10px #ffffff;
  background-color: #ffd914;
}
div#hit .hit-bar.hit-bounce div.in {
  width: 20%;
  height: 20%;
  margin: 40%;
  opacity: .4;
  z-index: 2;
  animation: in 0.4s ease-in-out;
  animation-fill-mode: forwards;
}
div#hit .hit-bar.hit-bounce div.out {
  width: 30%;
  height: 30%;
  margin: 35%;
  opacity: .3;
  z-index: 1;
  animation: out 0.4s ease-in-out;
  animation-delay: .2s;
  animation-fill-mode: forwards;
}
/*
 * Fixed
 */
.fixed-box {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}
.carousel .product-focus img {
  width: 100%;
  float: left;
  box-shadow: 0 0 5px rgba(8, 10, 10, 0.5);
}
/*
 * Animation
 */
@keyframes big-to-small-show {
  0% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.kk-animate.kk-b2s-show {
  animation: big-to-small-show 0.7s 1;
  animation-fill-mode: forwards;
}
@keyframes top-to-bottom-show {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.kk-animate.kk-t2b-show {
  animation: top-to-bottom-show 0.7s 1;
  animation-fill-mode: forwards;
}
@keyframes bottom-to-top-hide {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}
.kk-animate.kk-b2t-hide {
  animation: bottom-to-top-hide 0.7s 1;
  animation-fill-mode: forwards;
}
@keyframes opacity-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.kk-animate.kk-show {
  animation: opacity-show 0.7s 1;
  animation-fill-mode: forwards;
}
@keyframes opacity-hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.kk-animate.kk-hide {
  animation: opacity-hide 0.7s 1;
  animation-fill-mode: forwards;
}
@keyframes spread {
  to {
    transform: scale(5);
    opacity: 0;
  }
}
.kk-animate.kk-spread {
  display: block;
  position: absolute;
  background: rgba(255, 208, 0, 0.4);
  border-radius: 100%;
  pointer-events: none;
  transform: scale(0);
  animation: spread 2s ease-out;
  animation-fill-mode: forwards;
}
.no-data {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  color: rgba(117, 117, 117, 0.4);
}
.scroll-y {
  overflow-y: hidden;
}
/*
 * Modal
 */
.modal.in .modal-dialog {
  top: 38%;
  transform: translateY(-50%);
}
.modal.fade {
  transition: unset;
}
.kk-modal {
  display: none;
}
html,
body {
  height: 100%;
}
.body {
  position: fixed;
}
p {
  margin-bottom: 0;
}
.blank-piece {
  height: 20px;
  background-color: #f5f5f5;
}
input[type="date"]::-webkit-inner-spin-button {
  visibility: hidden;
}
input[type="date"]:not(.has-value):before {
  color: #B3B3B6;
  content: attr(placeholder);
  font-size: 16px;
}
.classify {
  padding-top: 47px;
  width: 100%;
  background-color: white;
  height: 78px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.classify .classify-1 {
  display: flex;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 17px;
}
.classify .classify-1 span {
  display: inline-block;
  height: 30px;
  width: 75px;
}
.classify .classify-1 a {
  flex: 1;
  color: #323232;
}
.classify .classify-1 .classify-1-1 {
  border-right: 1px solid #ebebeb;
}
.classify .classify-1 div.cur-1 span {
  border-bottom: 2px solid #ffcc00;
}
.order-status {
  background-color: #fff;
}
.order-status .order-status-no-appointment {
  line-height: 45px;
  margin: 0 15px;
  font-size: 15px;
}
.order-status .order-status-no-appointment img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: inline-block;
}
.order-status .apply-refund {
  padding: 22px 15px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  display: flex;
}
.order-status .apply-refund .apply-refund-lft {
  flex: 2;
}
.order-status .apply-refund .apply-refund-right {
  flex: 3;
  padding-left: 10px;
}
.order-status .apply-refund .apply-refund-right .apply-refund-right-1 {
  font-size: 15px;
  color: #323232;
}
.order-status .apply-refund .apply-refund-right p {
  margin-top: 2px;
  font-size: 13px;
  color: #757575;
}
.order-status .order-status-button {
  height: 55px;
}
.order-status .order-status-button div {
  float: right;
  margin-top: 13px;
  margin-right: 24px;
}
.order-status .order-status-button div button {
  width: 85px;
  height: 28px;
  line-height: 28px;
  border: none;
  display: inline-block;
}
.order-status .order-status-button div .cancel-button {
  background-color: #f5f5f5;
}
.order-status .order-status-button div .appointment-button {
  margin-left: 16px;
  background-color: #ffcc00;
  color: #333333;
}
.order-status .order-status-button div .invoice-schedule {
  margin-left: 16px;
  background-color: #ffcc00;
  color: #333333;
  width: 102px;
}
.order-status .confirmation-number {
  margin-left: 15px;
  margin-right: 33px;
  font-size: 15px;
}
.order-status .confirmation-number .confirmation-number-name {
  margin-top: 22px;
}
.order-status .confirmation-number .confirmation-number-name img {
  float: right;
  width: 22px;
  height: 13px;
}
.order-status .confirmation-number .confirmation-number-no {
  margin-top: 16px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3px;
}
.order-status .confirmation-number .note {
  height: 54px;
  margin-top: 6px;
}
.refund-schedule {
  margin-left: 15px;
  margin-right: 33px;
  font-size: 15px;
}
.refund-schedule .refund-schedule-name {
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 18px;
}
.refund-schedule .refund-schedule-name p {
  border-bottom: 1px solid #e3e3e3;
  line-height: 40px;
}
.refund-schedule .refund-schedule-name-refund {
  color: #757575;
}
.refund-schedule .refund-schedule-no {
  color: #323232;
}
.refund-schedule .refund-schedule-no .refund-schedule-no-1 {
  position: relative;
  padding-left: 16px;
  margin-left: 5px;
  height: 63px;
  border-left: 2px dashed #bababa;
}
.refund-schedule .refund-schedule-no .refund-schedule-no-1 span {
  position: absolute;
  left: -10px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 15px;
  color: #fefefe;
  background-color: #bababa;
  text-align: center;
  line-height: 19px;
}
.refund-schedule .refund-schedule-no .refund-schedule-no-1 span.schedule {
  background-color: #9d1829;
}
.refund-schedule .refund-schedule-no .refund-schedule-no-1 .refund-schedule-no-tip {
  font-size: 15px;
}
.refund-schedule .refund-schedule-no .refund-schedule-no-1 .refund-schedule-no-state {
  font-size: 13px;
  color: #757575;
}
.refund-schedule .refund-schedule-no .no-direction {
  border: none;
  height: 100px;
}
.invoice-personal {
  margin: 0 15px;
}
.invoice-name {
  margin-top: 22px;
  padding-bottom: 18px;
}
.invoice-name img {
  float: right;
  width: 22px;
  height: 13px;
  margin-right: 18px;
}
.invoice-title span {
  display: inline-block;
  width: 76px;
  height: 28px;
  border: 1px solid #757575;
  text-align: center;
  line-height: 28px;
  color: #757575;
  margin-right: 20px;
  font-size: 15px;
}
.invoice-title span.active {
  color: #fefbf4;
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
}
.invoice-address {
  padding-top: 22px;
  font-size: 15px;
}
.invoice-address textarea {
  width: 100%;
  height: 70px;
  border: 1px solid #cccccc;
  margin-top: 18px;
  border-radius: 4px;
  padding: 10px;
}
.invoice-address input {
  border-radius: 0;
  border: none;
  width: 100%;
  margin-top: 18px;
  border-bottom: 1px solid #cccccc;
}
.invoice-confirm {
  height: 106px;
}
.invoice-confirm p {
  height: 43px;
  padding-top: 6px;
}
.invoice-confirm span {
  display: block;
  width: 76px;
  height: 28px;
  background-color: #ffcc00;
  color: #020202;
  text-align: center;
  line-height: 28px;
  float: right;
  margin-right: 10px;
}
